.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    color: white;
    background-color: #1F2937;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.title {
    font-family: Roboto;
}