@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    color: #F9FAF8;
    background-color: #1F2937;
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

body {
    font-family: Roboto;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

a, a:visited {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.subcontainer{
    display:  flex;
    justify-content: center;
    background-color: #1F2937;
    align-items: center;
}

.leftcontent {
    color: white;
    max-width: 450px;
    padding: 150px 30px 150px 0;
    gap: 0px 10px;
}

div img {
    width: auto;
    max-height: 300px;
}

.signup {
    background-color: #3882F6;
    border: none;
    color: white;
    text-align: center;
    padding: 8px 30px;
    border-radius: 10px;
    font-weight: bolder;
}

.title1{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    padding: 50px 0 0 0;
}
.content1 {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    padding: 50px 0 100px 0;
}

.info {
    max-width: 200px;
    gap: 30px;
}

.info img {
    width: auto;
    max-height: 300px;
}

.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 150px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #5a6472;
    max-width: 670px;
}

.author {
    font-weight: bold;
    padding-left: 500px;
}

.content3 {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.container3 {
    background-color: #3882F6;
    padding:  50px 200px;
    border-radius: 10px;
    color: white;
}

.title3 {
    font-weight: bold;
    font-size: 18px;
}

.text3 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

div .signup {
    border: solid white;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    padding: 36px;
    color: #E5E7EB;
}